body{ background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
background-repeat: no-repeat;

}
.container {
    border: rgb(249, 248, 254);
    border-style: solid;
    background: white;
    margin: o auto;
    padding: 20px;
    display: block;
    width: 700px;
    position: relative;
    top: 25px;
background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
}

.input-group {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.search-engine {
    text-align: center;
    width: 400px;
    height: 34px;
    border-color:rgb(247, 244, 247);
    border-radius: 6px;
    margin: 0 auto;
    color: rgb(4, 9, 9);
    background:rgb(243, 241, 243) ;

}

.btn-primary {
    border-radius: 6px;
    border-width: 2px;
    background: rgb(243, 241, 243);
border-color:rgb(244, 236, 245);
    color: rgb(81, 45, 105);
    width: 100px;
    height: 35px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5px;
    vertical-align: middle;
    initial-value: 20px;
}
.btn-primary:hover{
    background-color: aliceblue;

}

.city {
    color: rgb(80, 52, 99);
    font-size: 25px;
    position: relative;
    right: -25px;
}

.time-date {
    color: rgb(106, 61, 102);
    font-size: 20px;
    font-weight: 450;
    position: relative;
    right: -30px;
    top: 5px;
}

.weather-description {
    color: rgb(106, 61, 102);
    font-size: 20px;
    font-weight: 450;
    position: relative;
    right: -30px;
    top: 10px;
}

.current-temp {
    font-size: 40px;
    color: rgb(106, 61, 102);
    position: relative;
    right: -20px;
    top: 20px;
}

.humid-wind {
    position: relative;
    text-align: right;
    line-height: 25px;
    top: -120px;
    right: 80px;
    font-size: 20px;
}

.col-2 {
    text-align: center;
    margin: 0 auto;
    color: rgb(80, 52, 99);
 font-size: 16px;
}

.degree {
    font-size: 15px;
    position: relative;
    top: -10px;

}

.main-degree {
    position: relative;
    top: -40px;
    font-size: 20px;
    right: -140px;

}

#units a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blueviolet
}


footer {
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    top:25px;
    background:rgb(247, 238, 240);
}


.weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
    position: relative;
    left: 10px;
    top: 25px
    
}


.weather-temperature strong {
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

#temperature {
    position: relative;
    top: 20px;
    left: 5px;
    font-size: 55px;
}
.weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
  
}

.weather-forecast-date {
    font-size: 17px;
    opacity: 0.7;
    position: relative;
top:-15px;
left:5px;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
    position: relative;
      
   
}
.weather-forecast-temperature-max {
   
    position: relative;
  

}

.weather-forecast-temperatures {
    font-size: 15px;
    position: relative;
     top: -15px;
     left:5px;
    
   
}
.weather-forcast img{
    margin-right: 5px;
        height: 64px;
        width: 64px;
        position: relative;
        bottom:15px;
}
